.app {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--text-color);
  background-color: var(--bg);

  .content {
    flex-grow: 1;
  }
}


