/* You can add global styles to this file, and also import other style files */

:root {
  --primary: #FFDC06;
  --primary-dimmed: #B29D16;
  --secondary: #CC1989;
  --secondary-dimmed: #B20D75;
  --tertiary: #1FF3FF;
  --warning: #eb1212;
  --text-color: #2c3e50;
  --white: white;
  --bg: #f8f8f8;
  --elevation-high: 0 0 24px grey;
  --elevation-mid: 0 1px 7px grey;
  --elevation-low: 0 1px 2px grey;
  --rounded: 25px;
  --hover: brightness(.8);
  --disabled: opacity(.5);
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}